img{
    width: 200px;
    height: 200px;
    border-radius: 8px; /*Add a border-radius for rounded corners */
    margin-bottom: 10px; /*Space between image and text*/
} 

.product-container {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product {
    flex: 0 0 calc(33.33% - 20px); /* Three products in a row with margin */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the total width/height */
  }
   