*{ 
    box-sizing: border-box;
    margin:0; 
    padding:0;
}


body{ 
    font-family: 'Segou UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #fff;
    color: #000; 
    font-size: 15px;
    line-height: 1.5;
}
a{ 
    color: #262626; 
    text-decoration: none;
}
ul{ 
    list-style: none;
}
.container{ 
    width: 90%;
    max-width: 1100px;
    margin:auto; 

}

.main-nav{ 
    display: flex; 
    justify-content: space-between;
    align-items:center;
    height:60px; 
    padding: 20px 0px; 
    font-size: 13px;

}
.main-nav .microsoft-logo{ 
    margin-left: -90px;
    width: 110px;
}
.main-nav ul{ 
    display: flex; 
}
.main-nav ul li{ 
    padding: 0 15px;
}

.main-nav ul li a{ 
    padding-bottom: 1px;
}
.main-nav ul li a:hover{ 
    border-bottom: 1px solid black;
}

.main-nav ul.left-menu{ 
    flex: 1;
    margin-left: 20px;
    
}
.main-nav ul.right-menu {
    margin-right: -120px;
}

.Limit6-button{ 
   cursor: pointer;
   display: incline-block;
   border: 0; 
   font-weight: bold;
   padding: 20px 30px;
   background-color: rgb(17, 121, 225);
   color: aliceblue;
   font-size: 15px;

}
.Limit1-button{ 
    cursor: pointer;
    display: incline-block;
    border: 0; 
    font-weight: bold;
    background-color: transparent;
    padding: 20px 30px;
    color: #171616;
    font-size: 15px;
    margin-left: 10px;
 
 }
 .Limit1-button:hover{ 
    opacity:0.9;
 }
 .Limit6-button:hover{ 
    opacity:0.9;
 }

 .Laptop {
    position: relative;
    width: 100%;
    overflow: hidden; 
}

.content {
    position: absolute;
    top: 35%;
    width: 40%;
    left: 40px; 
    transform: translateY(-50%); 
    z-index: 1; 
    color: white;
}

.img {
    width: 1500px;
    height: auto;
    display: block;
}
p{ 
    line-height: 1,8;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.news{ 
    margin-top: 35px;
    align-items:stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.news .pic1,
.pic2,
.pic3,
.pic4{
    width: 300px;
}

.news h4{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    color: #171616;   
}

.news .btn{ 
    border: none;
    color:rgb(17, 121, 225); 
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
}
.news .btn:hover { 
    border-bottom: 1px solid rgb(17, 121, 225);
}
.news p{
    font-size: 15px;
}
